*{
    text-decoration: none !important;
}

.armani-upper {
    background: url('/public/images/armani/background.png') no-repeat center center ;
    background-size: cover;
    position: relative;
    height: 35vh;
    margin-top: 300px;
}

.armani-upper a{
    background-color:#000 ;
    padding: 8px 18px;
    color: aliceblue;
}

.armani-upper h2 {
    position:absolute; 
    top: 20%;
    right: 50%;
    
}

.armani-upper a{
    position: absolute;
    top: 40%;
    right: 57%;
}



/* MEDIA SORGULARI */

@media(min-width:768px){

    .armani-upper h2 {
        position:absolute; 
        top: 20%;
        right: 60%;
        
    }
    
    .armani-upper a{
        position: absolute;
        top: 40%;
        right: 65%;
    }


}

@media(min-width:1080px){
    .armani-upper {
        background: url('/public/images/armani/background.png') no-repeat;
        background-size: cover;
        position: relative;
        height: 70vh;
        margin-top: 300px;
    }
    
    .armani-upper h2 {
        position:absolute; 
        top: 30%;
        right: 70%;
        
    }
    
    .armani-upper a{
        position: absolute;
        top: 45%;
        right: 73%;
    }
}
